<div class="gestao-nav">
  <a href="{% url 'gestao_hub' %}" {% if request.resolver_match.url_name == 'gestao_hub' %}class="is-on"{% endif %}>Início</a>
  <a href="{% url 'gestao_sysmap' %}" {% if request.resolver_match.url_name == 'gestao_sysmap' %}class="is-on"{% endif %}>Sysmap</a>
  <a href="{% url 'gestao_osab' %}" {% if request.resolver_match.url_name == 'gestao_osab' %}class="is-on"{% endif %}>OSAB</a>
  <a href="{% url 'gestao_capilaridade' %}" {% if request.resolver_match.url_name == 'gestao_capilaridade' %}class="is-on"{% endif %}>Capilaridade</a>
  <a href="{% url 'gestao_fpd' %}" {% if request.resolver_match.url_name == 'gestao_fpd' %}class="is-on"{% endif %}>FPD</a>
  <a href="{% url 'gestao_churn' %}" {% if request.resolver_match.url_name == 'gestao_churn' %}class="is-on"{% endif %}>Churn</a>
  {% if eh_gestor %}
    <a href="{% url 'gestao_configs' %}" {% if request.resolver_match.url_name == 'gestao_configs' %}class="is-on"{% endif %}>Metas</a>
  {% endif %}
</div>
